<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Node PDF</title>
  </head>
  <body>
    <input type="file" name="pdfOpen" id="pdfOpen" />
    <div class="box">
      <div id="file-pages"></div>
      <div class="new-file">
        <input type="text" id="new-file-title" value="New File" />
      </div>
      <button id="creation-button" style="visibility: hidden">
        Create new file
      </button>
    </div>
  </body>

  <script>
    const $ = (query, parent) => {
      parent = parent || document;
      return parent.querySelector(query);
    };
    const $$ = (query, parent) => {
      parent = parent || document;
      return parent.querySelectorAll(query);
    };

    const pages = $("#file-pages");
    const creationButton = $("#creation-button");
    const newPages = $(".new-file");
    const newFileTitle = $("#new-file-title");

    $("#pdfOpen").addEventListener("click", async (ev) => {
      ev.preventDefault();
      const { filePages, title } = await window.fileManager.openFile();
      if (title === null || filePages === null) return;

      const bookBox = document.createElement("div");
      bookBox.setAttribute("id", title);

      let pageListHTML = `<h3>${title}</h3>`;
      for (let i = 1; i <= filePages; i++) {
        pageListHTML += `<label for='Page-${i}'>Page ${i}</label><button name='Page-${i}'>+</button><br />`;
      }

      bookBox.innerHTML = pageListHTML;
      pages.appendChild(bookBox);

      creationButton.style.visibility = "visible";
      newFileTitle.style.visibility = "visible";
    });

    pages.addEventListener("click", (ev) => {
      if (ev.target.tagName === "BUTTON") {
        newPages.innerHTML +=
          "<label>" +
          ev.target.parentElement.getAttribute("id") +
          "/" +
          ev.target.getAttribute("name").replace("-", " ") +
          "<button>-</button><br /></label>";
      }
    });

    $(".new-file").addEventListener("click", (ev) => {
      if (ev.target.tagName === "BUTTON") {
        const x = ev.target.parentElement;
        x.parentElement.removeChild(x);
      }
    });

    creationButton.addEventListener("click", (ev) => {
      const PageList = $$("label", newPages);
      const title = $("input", newPages);
      const newFilePages = [];

      for (let i = 0; i < PageList.length; i++) {
        const splited = PageList[i].innerText.split("/");
        newFilePages.push([splited[0], splited[1].match(/[0-9]/)[0]]);
      }

      window.fileManager.createFile({ title: title.value, newFilePages });
    });
  </script>
</html>
